<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>to do list</title>
    <!-- 15th line of app.js is used to serve up a public folder which contain styles.css  -->
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
<center><p>Made with ❤️ by Lovish</p></center>
    <div class="box" id="heading">
        <h1> <%= listName %> </h1>
       <small><i>Click on checkbox to remove list items</i></small> 
    </div>

    <div class="box">

        <% htmlItems.forEach(item => { %>
            <form action="/delete"  method="post">
        <div class="item">
            <input type="checkbox" name="checkbox" value="<%=item._id%>"  onchange="this.form.submit()">
            <p> <%=  item.name %> </p>
        </div>
        <input type="hidden" name="listName" value="<%= listName %>"></input>
        
        </form>
        <% }) %>
<input type="hidden" name=""></input>
        <form class="item" action="/" method="post">
            <input type="text" autocomplete="off" name="input" placeholder="Enter new item here">
            <button type="submit" name="customInput" value="<%= listName %>">+</button>
            <!-- <button type="reset" name="removeinput" style="margin-left: 4px;">-</button> -->

        </form>
    </div>
</body>

</html>